
.content
  .row
    %div{"ng-controller"=>"ScansCtrl"}
      %div{:class=>"col-sm-9 fix-width"}

        .row

          %div{:class=>"tree-root",
               "ng-repeat"=>"scan1 in scans",
               "ng-if"=>"scan1.parent_id == null && !scan1.removing"}

            %ol{:class=>"angular-ui-tree-nodes"}


              %li{:class=>"angular-ui-tree-node"}


                %div{:class=>"tree-node angular-ui-tree-handle"}

                  %div{:class=>"tree-node-content-scan"}

                    %a{:class=>"btn btn-success btn-xs",
                       "ng-click"=>"scan1.expanded = !scan1.expanded"}
                      %span{"ng-class"=>"scan1.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}


                    algorithm: {{ scan1.algorithm }}, sensitivity: {{ scan1.sensitivity }}

                    %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"finalizeScan(scan1)"}
                      %span{:class=>"glyphicon glyphicon glyphicon-save"}

                    %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"removeScan(scan1)"}
                      %span{:class=>"glyphicon glyphicon glyphicon-remove"}



              %ol{:class=>"angular-ui-tree-nodes",
                  "ng-if"=>"scan1.expanded",
                  "ng-repeat"=>"pattern1 in scan1.patterns"}
                %li{:class=>"angular-ui-tree-node"}

                  %div{"ng-class"=>"pattern1.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                      "ng-click"=>"getMsgs(pattern1.id, false)"}

                    %div{:class=>"tree-node-content", "ng-show"=>"!pattern1.edit"}

                      %a{:class=>"btn btn-success btn-xs",
                         "ng-if"=>"hasChildren(pattern1.id)",
                         "ng-click"=>"pattern1.expanded = !pattern1.expanded"}
                        %span{"ng-class"=>"pattern1.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                      %a{:class=>"btn btn-default btn-xs",
                        "ng-if"=>"!hasChildren(pattern1.id)"}
                        %span{:class=>"glyphicon glyphicon-chevron-right"}


                      %span{"ng-bind-html"=>"pattern1.body | patternFilter"}

                      %a{"ng-if"=>"!pattern1.final", :class=>"pull-right btn btn-primary btn-xs",
                         "ng-click"=>"finalizePattern(pattern1, true)"}
                        %span{:class=>"glyphicon glyphicon-plus"}

                      %a{"ng-if"=>"pattern1.final", :class=>"pull-right btn btn-success btn-xs",
                         "ng-click"=>"finalizePattern(pattern1, false)"}
                        %span{:class=>"glyphicon glyphicon-plus"}

                      %a{:class=>"pull-right btn btn-primary btn-xs", "ng-click"=>"pattern1.body_split=fixJson(pattern1.body_split); pattern1.edit=true"}
                        %span{:class=>"glyphicon glyphicon-pencil"}

                    %div{:class=>"tree-node-content", "ng-show"=>"pattern1.edit"}

                      %a{:class=>"btn btn-success btn-xs",
                        "ng-if"=>"hasChildren(pattern1.id)",
                        "ng-click"=>"pattern1.expanded ? pattern1.expanded = false : pattern1.expanded = true"}
                        %span{"ng-class"=>"pattern1.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                      %a{:class=>"btn btn-default btn-xs",
                        "ng-if"=>"!hasChildren(pattern1.id)"}
                        %span{:class=>"glyphicon glyphicon-chevron-right"}

                      %span{"ng-repeat"=>"word in pattern1.body_split track by $index"}
                        %span{"ng-if"=>"!word.variable", "ng-bind"=>"word.word"}
                        %input{"ng-if"=>"word.variable", "ng-model"=>"word.word"}

                      %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"savePattern(pattern1); pattern1.edit=false"}
                        %span{:class=>"glyphicon glyphicon-ok"}

                      %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"pattern1.edit=false"}
                        %span{:class=>"glyphicon glyphicon-remove"}

                -# Level 2
                %ol{:class=>"angular-ui-tree-nodes",
                    "ng-repeat"=>"scan2 in scans",
                    "ng-if"=>"scan2.parent_id == pattern1.id && pattern1.expanded && !scan2.removing"}

                  %li{:class=>"angular-ui-tree-node"}

                    %div{:class=>"tree-node angular-ui-tree-handle"}

                      %div{:class=>"tree-node-content-scan"}

                        %a{:class=>"btn btn-success btn-xs",
                          "ng-click"=>"scan2.expanded ? scan2.expanded=false : scan2.expanded=true;"}
                          %span{"ng-class"=>"scan2.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}


                        algorithm: {{ scan2.algorithm }}, sensitivity: {{ scan2.sensitivity }}

                        %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"finalizeScan(scan2)"}
                          %span{:class=>"glyphicon glyphicon glyphicon-save"}

                        %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"removeScan(scan2)"}
                          %span{:class=>"glyphicon glyphicon glyphicon-remove"}



                  %ol{:class=>"angular-ui-tree-nodes",
                      "ng-if"=>"scan2.expanded",
                      "ng-repeat"=>"pattern2 in scan2.patterns"}
                    %li{:class=>"angular-ui-tree-node"}

                      %div{"ng-class"=>"pattern2.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                          "ng-click"=>"getMsgs(pattern2.id, false)"}

                        %div{:class=>"tree-node-content", "ng-show"=>"!pattern2.edit"}

                          %a{:class=>"btn btn-success btn-xs",
                            "ng-if"=>"hasChildren(pattern2.id)",
                            "ng-click"=>"pattern2.expanded ? pattern2.expanded = false : pattern2.expanded = true"}
                            %span{"ng-class"=>"pattern2.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                          %a{:class=>"btn btn-default btn-xs",
                            "ng-if"=>"!hasChildren(pattern2.id)"}
                            %span{:class=>"glyphicon glyphicon-chevron-right"}


                          %span{"ng-bind-html"=>"pattern2.body | patternFilter"}

                          %a{"ng-if"=>"!pattern2.final", :class=>"pull-right btn btn-primary btn-xs",
                            "ng-click"=>"finalizePattern(pattern2, true)"}
                            %span{:class=>"glyphicon glyphicon-plus"}

                          %a{"ng-if"=>"pattern2.final", :class=>"pull-right btn btn-success btn-xs",
                            "ng-click"=>"finalizePattern(pattern2, false)"}
                            %span{:class=>"glyphicon glyphicon-plus"}

                          %a{:class=>"pull-right btn btn-primary btn-xs", "ng-click"=>"pattern2.body_split=fixJson(pattern2.body_split); pattern2.edit=true"}
                            %span{:class=>"glyphicon glyphicon-pencil"}

                        %div{:class=>"tree-node-content", "ng-show"=>"pattern2.edit"}

                          %a{:class=>"btn btn-success btn-xs",
                            "ng-if"=>"hasChildren(pattern2.id)",
                            "ng-click"=>"pattern2.expanded ? pattern2.expanded = false : pattern2.expanded = true"}
                            %span{"ng-class"=>"pattern2.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                          %a{:class=>"btn btn-default btn-xs",
                            "ng-if"=>"!hasChildren(pattern2.id)"}
                            %span{:class=>"glyphicon glyphicon-chevron-right"}

                          %span{"ng-repeat"=>"word in pattern2.body_split track by $index"}
                            %span{"ng-if"=>"!word.variable", "ng-bind"=>"word.word"}
                            %input{"ng-if"=>"word.variable", "ng-model"=>"word.word"}

                          %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"savePattern(pattern2); pattern2.edit=false"}
                            %span{:class=>"glyphicon glyphicon-ok"}

                          %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"pattern2.edit=false"}
                            %span{:class=>"glyphicon glyphicon-remove"}

                    -# Level 3
                    %ol{:class=>"angular-ui-tree-nodes",
                        "ng-repeat"=>"scan3 in scans",
                        "ng-if"=>"scan3.parent_id == pattern2.id && pattern2.expanded && !scan3.removing" }

                      %li{:class=>"angular-ui-tree-node"}

                        %div{:class=>"tree-node angular-ui-tree-handle"}

                          %div{:class=>"tree-node-content-scan"}

                            %a{:class=>"btn btn-success btn-xs",
                              "ng-click"=>"scan3.expanded = !scan3.expanded"}
                              %span{"ng-class"=>"scan3.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}


                            algorithm: {{ scan3.algorithm }}, sensitivity: {{ scan3.sensitivity }}

                            %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"finalizeScan(scan3)"}
                              %span{:class=>"glyphicon glyphicon glyphicon-save"}

                            %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"removeScan(scan3)"}
                              %span{:class=>"glyphicon glyphicon glyphicon-remove"}



                      %ol{:class=>"angular-ui-tree-nodes",
                          "ng-if"=>"scan3.expanded",
                          "ng-repeat"=>"pattern3 in scan3.patterns"}
                        %li{:class=>"angular-ui-tree-node"}

                          %div{"ng-class"=>"pattern3.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                              "ng-click"=>"getMsgs(pattern3.id, false)"}

                            %div{:class=>"tree-node-content", "ng-show"=>"!pattern3.edit"}

                              %a{:class=>"btn btn-success btn-xs",
                                "ng-if"=>"hasChildren(pattern3.id)",
                                "ng-click"=>"pattern3.expanded = !pattern3.expanded"}
                                %span{"ng-class"=>"pattern3.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                              %a{:class=>"btn btn-default btn-xs",
                                "ng-if"=>"!hasChildren(pattern3.id)"}
                                %span{:class=>"glyphicon glyphicon-chevron-right"}


                              %span{"ng-bind-html"=>"pattern3.body | patternFilter"}

                              %a{"ng-if"=>"!pattern3.final", :class=>"pull-right btn btn-primary btn-xs",
                                "ng-click"=>"finalizePattern(pattern3, true)"}
                                %span{:class=>"glyphicon glyphicon-plus"}

                              %a{"ng-if"=>"pattern3.final", :class=>"pull-right btn btn-success btn-xs",
                                "ng-click"=>"finalizePattern(pattern3, false)"}
                                %span{:class=>"glyphicon glyphicon-plus"}

                              %a{:class=>"pull-right btn btn-primary btn-xs", "ng-click"=>"pattern3.body_split=fixJson(pattern3.body_split); pattern3.edit=true"}
                                %span{:class=>"glyphicon glyphicon-pencil"}

                            %div{:class=>"tree-node-content", "ng-show"=>"pattern3.edit"}

                              %a{:class=>"btn btn-success btn-xs",
                                "ng-if"=>"hasChildren(pattern3.id)",
                                "ng-click"=>"pattern3.expanded = !pattern3.expanded"}
                                %span{"ng-class"=>"pattern3.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                              %a{:class=>"btn btn-default btn-xs",
                                "ng-if"=>"!hasChildren(pattern3.id)"}
                                %span{:class=>"glyphicon glyphicon-chevron-right"}

                              %span{"ng-repeat"=>"word in pattern3.body_split track by $index"}
                                %span{"ng-if"=>"!word.variable", "ng-bind"=>"word.word"}
                                %input{"ng-if"=>"word.variable", "ng-model"=>"word.word"}

                              %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"savePattern(pattern3); pattern3.edit=false"}
                                %span{:class=>"glyphicon glyphicon-ok"}

                              %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"pattern3.edit=false"}
                                %span{:class=>"glyphicon glyphicon-remove"}

                        -# Level 4
                        %ol{:class=>"angular-ui-tree-nodes",
                            "ng-repeat"=>"scan4 in scans",
                            "ng-if"=>"scan4.parent_id == pattern3.id && pattern3.expanded && !scan4.removing" }

                          %li{:class=>"angular-ui-tree-node"}

                            %div{:class=>"tree-node angular-ui-tree-handle"}

                              %div{:class=>"tree-node-content-scan"}

                                %a{:class=>"btn btn-success btn-xs",
                                  "ng-click"=>"scan4.expanded = !scan4.expanded"}
                                  %span{"ng-class"=>"scan4.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}


                                algorithm: {{ scan4.algorithm }}, sensitivity: {{ scan4.sensitivity }}

                                %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"finalizeScan(scan4)"}
                                  %span{:class=>"glyphicon glyphicon glyphicon-save"}

                                %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"removeScan(scan4)"}
                                  %span{:class=>"glyphicon glyphicon glyphicon-remove"}



                          %ol{:class=>"angular-ui-tree-nodes",
                              "ng-if"=>"scan4.expanded",
                              "ng-repeat"=>"pattern4 in scan4.patterns"}
                            %li{:class=>"angular-ui-tree-node"}

                              %div{"ng-class"=>"pattern4.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                                  "ng-click"=>"getMsgs(pattern4.id, false)"}

                                %div{:class=>"tree-node-content", "ng-show"=>"!pattern4.edit"}

                                  %a{:class=>"btn btn-success btn-xs",
                                    "ng-if"=>"hasChildren(pattern4.id)",
                                    "ng-click"=>"pattern4.expanded = !pattern4.expanded"}
                                    %span{"ng-class"=>"pattern4.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                                  %a{:class=>"btn btn-default btn-xs",
                                    "ng-if"=>"!hasChildren(pattern4.id)"}
                                    %span{:class=>"glyphicon glyphicon-chevron-right"}


                                  %span{"ng-bind-html"=>"pattern4.body | patternFilter"}

                                  %a{"ng-if"=>"!pattern4.final", :class=>"pull-right btn btn-primary btn-xs",
                                    "ng-click"=>"finalizePattern(pattern4, true)"}
                                    %span{:class=>"glyphicon glyphicon-plus"}

                                  %a{"ng-if"=>"pattern4.final", :class=>"pull-right btn btn-success btn-xs",
                                    "ng-click"=>"finalizePattern(pattern4, false)"}
                                    %span{:class=>"glyphicon glyphicon-plus"}

                                  %a{:class=>"pull-right btn btn-primary btn-xs", "ng-click"=>"pattern4.body_split=fixJson(pattern4.body_split); pattern4.edit=true"}
                                    %span{:class=>"glyphicon glyphicon-pencil"}

                                %div{:class=>"tree-node-content", "ng-show"=>"pattern4.edit"}

                                  %a{:class=>"btn btn-success btn-xs",
                                    "ng-if"=>"hasChildren(pattern4.id)",
                                    "ng-click"=>"pattern4.expanded = !pattern4.expanded"}
                                    %span{"ng-class"=>"pattern4.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                                  %a{:class=>"btn btn-default btn-xs",
                                    "ng-if"=>"!hasChildren(pattern4.id)"}
                                    %span{:class=>"glyphicon glyphicon-chevron-right"}

                                  %span{"ng-repeat"=>"word in pattern4.body_split track by $index"}
                                    %span{"ng-if"=>"!word.variable", "ng-bind"=>"word.word"}
                                    %input{"ng-if"=>"word.variable", "ng-model"=>"word.word"}

                                  %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"savePattern(pattern4); pattern4.edit=false"}
                                    %span{:class=>"glyphicon glyphicon-ok"}

                                  %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"pattern4.edit=false"}
                                    %span{:class=>"glyphicon glyphicon-remove"}

                            -# Level 5
                            %ol{:class=>"angular-ui-tree-nodes",
                                "ng-repeat"=>"scan5 in scans",
                                "ng-if"=>"scan5.parent_id == pattern4.id && pattern4.expanded && !scan5.removing" }

                              %li{:class=>"angular-ui-tree-node"}

                                %div{:class=>"tree-node angular-ui-tree-handle"}

                                  %div{:class=>"tree-node-content-scan"}

                                    %a{:class=>"btn btn-success btn-xs",
                                      "ng-click"=>"scan5.expanded = !scan5.expanded"}
                                      %span{"ng-class"=>"scan5.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}


                                    algorithm: {{ scan5.algorithm }}, sensitivity: {{ scan5.sensitivity }}

                                    %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"finalizeScan(scan5)"}
                                      %span{:class=>"glyphicon glyphicon glyphicon-save"}

                                    %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"removeScan(scan5)"}
                                      %span{:class=>"glyphicon glyphicon glyphicon-remove"}



                              %ol{:class=>"angular-ui-tree-nodes",
                                  "ng-if"=>"scan5.expanded",
                                  "ng-repeat"=>"pattern5 in scan5.patterns"}
                                %li{:class=>"angular-ui-tree-node"}

                                  %div{"ng-class"=>"pattern5.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                                      "ng-click"=>"getMsgs(pattern5.id, true)"}

                                    %div{:class=>"tree-node-content", "ng-show"=>"!pattern5.edit"}

                                      %a{:class=>"btn btn-success btn-xs",
                                        "ng-if"=>"hasChildren(pattern5.id)",
                                        "ng-click"=>"pattern5.expanded = !pattern5.expanded"}
                                        %span{"ng-class"=>"pattern5.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                                      %a{:class=>"btn btn-default btn-xs",
                                        "ng-if"=>"!hasChildren(pattern5.id)"}
                                        %span{:class=>"glyphicon glyphicon-chevron-right"}


                                      %span{"ng-bind-html"=>"pattern5.body | patternFilter"}

                                      %a{"ng-if"=>"!pattern5.final", :class=>"pull-right btn btn-primary btn-xs",
                                        "ng-click"=>"finalizePattern(pattern5, true)"}
                                        %span{:class=>"glyphicon glyphicon-plus"}

                                      %a{"ng-if"=>"pattern5.final", :class=>"pull-right btn btn-success btn-xs",
                                        "ng-click"=>"finalizePattern(pattern5, false)"}
                                        %span{:class=>"glyphicon glyphicon-plus"}

                                      %a{:class=>"pull-right btn btn-primary btn-xs", "ng-click"=>"pattern5.body_split=fixJson(pattern5.body_split); pattern5.edit=true"}
                                        %span{:class=>"glyphicon glyphicon-pencil"}

                                    %div{:class=>"tree-node-content", "ng-show"=>"pattern5.edit"}

                                      %a{:class=>"btn btn-success btn-xs",
                                        "ng-if"=>"hasChildren(pattern5.id)",
                                        "ng-click"=>"pattern5.expanded = !pattern5.expanded"}
                                        %span{"ng-class"=>"pattern5.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"}

                                      %a{:class=>"btn btn-default btn-xs",
                                        "ng-if"=>"!hasChildren(pattern5.id)"}
                                        %span{:class=>"glyphicon glyphicon-chevron-right"}

                                      %span{"ng-repeat"=>"word in pattern5.body_split track by $index"}
                                        %span{"ng-if"=>"!word.variable", "ng-bind"=>"word.word"}
                                        %input{"ng-if"=>"word.variable", "ng-model"=>"word.word"}

                                      %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"savePattern(pattern5); pattern5.edit=false"}
                                        %span{:class=>"glyphicon glyphicon-ok"}

                                      %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"pattern5.edit=false"}
                                        %span{:class=>"glyphicon glyphicon-remove"}


      %div{:class=>"col-sm-3 right-affix"}

        %div{:class=>"panel panel-primary fill-height-sm", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            New scan

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Sensitivity:
            %input{"ng-model"=>"sensitivity", :type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Split by:
            %input{:type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Filter:
            %input{"ng-model"=>"regExpString", :type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Algorithm:
            %select{:class=>"selectpicker",
                    "ng-options"=>"algorithm for algorithm in algorithms",
                    "ng-model"=>"selectedAlg"}
          %div{"ng-show"=>"!inProgress", :class=>"panel-heading"}
            %button{"ng-click"=>"analyze()", :type=>"button", :class=>"btn btn-default btn-xs"}
              Analyze
              %span{"ng-show"=>"scan_ok", :class=>"glyphicon glyphicon-ok green"}
              %span{"ng-show"=>"scan_fail", :class=>"glyphicon glyphicon-remove red"}
          %div{"ng-show"=>"inProgress", :class=>"panel-heading"}
            %button{:type=>"button", :class=>"btn btn-default btn-xs"}
              %span{:class=>"glyphicon glyphicon-refresh glyphicon-refresh-animate"}
              Loading...

        %div{:class=>"panel panel-primary fill-height", :style=>"overflow-y:auto"}
          %div{}
            %ul{:class=>"list-group"}
              %a{"ng-repeat"=>"message in messages | filter:myFilter", :class=>"list-group-item"}
                {{ message.body }}

:javascript
  $('.selectpicker').selectpicker();