

.row
  %div{:class=>"navbar navbar-inverse navbar-fixed-top", :role=>"navigation"}
    %div{:class=>"navbar-header"}


      %a{:class=>"navbar-brand ", :href=>"/"} RMINER

  -#
    %ul{:class=>"nav navbar-nav"}
      %li{:class=>"active"}
        %a{:href=>"", :class=>"list-group-item active"}Scans
      %li
        %a{:href=>"/scans/active", :class=>"list-group-item"}Active scans
      %li
        %a{:href=>"/messages/", :class=>"list-group-item"} New messages
      %li
        %a{:href=>"/settings/", :class=>"list-group-item"}Settings


.content
  .row
    %div{"ng-controller"=>"ScansCtrl"}
      %div{:class=>"col-sm-9 fix-width"}

        .row

          %div{:class=>"tree-root",
               "ng-repeat"=>"scan1 in scans",
               "ng-if"=>"scan1.parent_id == null"}

            %ol{:class=>"angular-ui-tree-nodes"}


              %li{:class=>"angular-ui-tree-node"}


                %div{:class=>"tree-node angular-ui-tree-handle"}

                  %div{:class=>"tree-node-content-scan"}

                    %a{:class=>"btn btn-success btn-xs",
                       "ng-click"=>"scan1.packed ? scan1.packed=false : scan1.packed=true; packScan(scan1.id, scan1.packed)"}
                      %span{"ng-class"=>"scan1.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}


                    scan id: {{ scan1.id }}, sensitivity: {{ scan1.sensitivity }}

              %ol{:class=>"angular-ui-tree-nodes",
                  "ng-if"=>"!scan1.packed",
                  "ng-repeat"=>"pattern1 in scan1.patterns"}
                %li{:class=>"angular-ui-tree-node"}

                  %div{"ng-class"=>"pattern1.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                      "ng-click"=>"getMsgs(pattern1.id)"}

                    %div{:class=>"tree-node-content"}

                      %a{:class=>"btn btn-success btn-xs",
                        "ng-if"=>"hasChildren(pattern1.id)",
                        "ng-click"=>"pattern1.packed ? pattern1.packed = false : pattern1.packed = true"}
                        %span{"ng-class"=>"pattern1.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}

                      %a{:class=>"btn btn-default btn-xs",
                        "ng-if"=>"!hasChildren(pattern1.id)"}
                        %span{:class=>"glyphicon glyphicon-chevron-right"}


                      {{ pattern1.body }}

                      %a{:class=>"pull-right btn btn-primary btn-xs"}

                        %span{:class=>"glyphicon glyphicon-plus"}


                %ol{:class=>"angular-ui-tree-nodes",
                    "ng-repeat"=>"scan2 in scans",
                    "ng-if"=>"scan2.parent_id == pattern1.id && !pattern1.packed" }

                  %li{:class=>"angular-ui-tree-node"}


                    %div{:class=>"tree-node angular-ui-tree-handle"}

                      %div{:class=>"tree-node-content-scan"}

                        %a{:class=>"btn btn-success btn-xs",
                           "ng-click"=>"scan2.packed ? scan2.packed=false : scan2.packed=true; packScan(scan2.id, scan2.packed)"}
                          %span{"ng-class"=>"scan2.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}


                        scan id: {{ scan2.id }}, sensitivity: {{ scan2.sensitivity }}



      %div{:class=>"col-sm-3 right-affix"}

        %div{:class=>"panel panel-primary fill-height-sm", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            New scan

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Sensitivity:
            %input{"ng-model"=>"sensitivity", :type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Split by:
            %input{:type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Filter:
            %input{"ng-model"=>"regExpString", :type=>"text", :class=>"form-control"}
          %div{:class=>"panel-heading"}
            %button{"ng-click"=>"analyze()", :type=>"button", :class=>"btn btn-default btn-xs"}
              Start

        %div{:class=>"panel panel-primary fill-height", :style=>"overflow-y:auto"}
          %div{}
            %ul{:class=>"list-group"}
              %a{"ng-repeat"=>"message in messages | filter:myFilter", :class=>"list-group-item"}
                {{ message.body }}

