
.content
  .row
    %div{"ng-controller"=>"ScansCtrl"}
      %div{:class=>"col-sm-9 fix-width"}

        .row

          %div{:class=>"tree-root",
               "ng-repeat"=>"scan1 in scans",
               "ng-if"=>"scan1.parent_id == null"}

            %ol{:class=>"angular-ui-tree-nodes"}


              %li{:class=>"angular-ui-tree-node"}


                %div{:class=>"tree-node angular-ui-tree-handle"}

                  %div{:class=>"tree-node-content-scan"}

                    %a{:class=>"btn btn-success btn-xs",
                       "ng-click"=>"scan1.packed ? scan1.packed=false : scan1.packed=true; packScan(scan1.id, scan1.packed)"}
                      %span{"ng-class"=>"scan1.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}


                    scan id: {{ scan1.id }}, sensitivity: {{ scan1.sensitivity }}

                    %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"finalizeScan(scan1)"}
                      %span{:class=>"glyphicon glyphicon glyphicon-save"}

                    %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"removeScan(scan1)"}
                      %span{:class=>"glyphicon glyphicon glyphicon-remove"}



              %ol{:class=>"angular-ui-tree-nodes",
                  "ng-if"=>"!scan1.packed",
                  "ng-repeat"=>"pattern1 in scan1.patterns"}
                %li{:class=>"angular-ui-tree-node"}

                  %div{"ng-class"=>"pattern1.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                      "ng-click"=>"getMsgs(pattern1.id)"}

                    %div{:class=>"tree-node-content", "ng-show"=>"!pattern1.edit"}

                      %a{:class=>"btn btn-success btn-xs",
                        "ng-if"=>"hasChildren(pattern1.id)",
                        "ng-click"=>"pattern1.packed ? pattern1.packed = false : pattern1.packed = true"}
                        %span{"ng-class"=>"pattern1.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}

                      %a{:class=>"btn btn-default btn-xs",
                        "ng-if"=>"!hasChildren(pattern1.id)"}
                        %span{:class=>"glyphicon glyphicon-chevron-right"}


                      %span{"ng-bind-html"=>"pattern1.body | patternFilter"}

                      %a{"ng-if"=>"!pattern1.final", :class=>"pull-right btn btn-primary btn-xs",
                         "ng-click"=>"finalizePattern(pattern1, true)"}
                        %span{:class=>"glyphicon glyphicon-plus"}

                      %a{"ng-if"=>"pattern1.final", :class=>"pull-right btn btn-success btn-xs",
                         "ng-click"=>"finalizePattern(pattern1, false)"}
                        %span{:class=>"glyphicon glyphicon-plus"}

                      %a{:class=>"pull-right btn btn-primary btn-xs", "ng-click"=>"pattern1.body_split=fixJson(pattern1.body_split); pattern1.edit=true"}
                        %span{:class=>"glyphicon glyphicon-pencil"}

                    %div{:class=>"tree-node-content", "ng-show"=>"pattern1.edit"}

                      %a{:class=>"btn btn-success btn-xs",
                        "ng-if"=>"hasChildren(pattern1.id)",
                        "ng-click"=>"pattern1.packed ? pattern1.packed = false : pattern1.packed = true"}
                        %span{"ng-class"=>"pattern1.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}

                      %a{:class=>"btn btn-default btn-xs",
                        "ng-if"=>"!hasChildren(pattern1.id)"}
                        %span{:class=>"glyphicon glyphicon-chevron-right"}

                      %span{"ng-repeat"=>"word in pattern1.body_split track by $index"}
                        %span{"ng-if"=>"!word.variable", "ng-bind"=>"word.word"}
                        %input{"ng-if"=>"word.variable", "ng-model"=>"word.word"}

                      %a{:class=>"pull-right btn btn-success btn-xs", "ng-click"=>"savePattern(pattern1); pattern1.edit=false"}
                        %span{:class=>"glyphicon glyphicon-ok"}

                      %a{:class=>"pull-right btn btn-danger btn-xs", "ng-click"=>"pattern1.edit=false"}
                        %span{:class=>"glyphicon glyphicon-remove"}

                %ol{:class=>"angular-ui-tree-nodes",
                    "ng-repeat"=>"scan2 in scans",
                    "ng-if"=>"scan2.parent_id == pattern1.id && !pattern1.packed" }

                  %li{:class=>"angular-ui-tree-node"}


                    %div{:class=>"tree-node angular-ui-tree-handle"}

                      %div{:class=>"tree-node-content-scan"}

                        %a{:class=>"btn btn-success btn-xs",
                           "ng-click"=>"scan2.packed ? scan2.packed=false : scan2.packed=true; packScan(scan2.id, scan2.packed)"}
                          %span{"ng-class"=>"scan2.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}


                        scan id: {{ scan2.id }}, sensitivity: {{ scan2.sensitivity }}

                        %span{:class=>"pull-right"}
                          %a{:class=>"btn btn-success btn-xs"}
                            %span{:class=>"glyphicon glyphicon glyphicon-save"}

                          %a{:class=>"btn btn-danger btn-xs"}
                            %span{:class=>"glyphicon glyphicon glyphicon-remove"}

                  %ol{:class=>"angular-ui-tree-nodes",
                      "ng-if"=>"!scan2.packed",
                      "ng-repeat"=>"pattern2 in scan2.patterns"}
                    %li{:class=>"angular-ui-tree-node"}

                      %div{"ng-class"=>"pattern2.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                          "ng-click"=>"getMsgs(pattern2.id)"}

                        %div{:class=>"tree-node-content"}

                          %a{:class=>"btn btn-success btn-xs",
                            "ng-if"=>"hasChildren(pattern2.id)",
                            "ng-click"=>"pattern2.packed ? pattern2.packed = false : pattern2.packed = true"}
                            %span{"ng-class"=>"pattern2.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}

                          %a{:class=>"btn btn-default btn-xs",
                            "ng-if"=>"!hasChildren(pattern2.id)"}
                            %span{:class=>"glyphicon glyphicon-chevron-right"}


                          {{ pattern2.body | patternFilter }}

                          %a{:class=>"pull-right btn btn-primary btn-xs"}
                            %span{:class=>"glyphicon glyphicon-plus"}

                          %a{:class=>"pull-right btn btn-primary btn-xs"}
                            %span{:class=>"glyphicon glyphicon-pencil"}

                    %ol{:class=>"angular-ui-tree-nodes",
                        "ng-repeat"=>"scan3 in scans",
                        "ng-if"=>"scan3.parent_id == pattern2.id && !pattern2.packed" }

                      %li{:class=>"angular-ui-tree-node"}


                        %div{:class=>"tree-node angular-ui-tree-handle"}

                          %div{:class=>"tree-node-content-scan"}

                            %a{:class=>"btn btn-success btn-xs",
                              "ng-click"=>"scan3.packed ? scan3.packed=false : scan3.packed=true; packScan(scan3.id, scan3.packed)"}
                              %span{"ng-class"=>"scan3.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}


                            scan id: {{ scan3.id }}, sensitivity: {{ scan3.sensitivity }}

                            %span{:class=>"pull-right"}
                              %a{:class=>"btn btn-success btn-xs"}
                                %span{:class=>"glyphicon glyphicon glyphicon-save"}

                              %a{:class=>"btn btn-danger btn-xs"}
                                %span{:class=>"glyphicon glyphicon glyphicon-remove"}

                      %ol{:class=>"angular-ui-tree-nodes",
                          "ng-if"=>"!scan3.packed",
                          "ng-repeat"=>"pattern3 in scan3.patterns"}
                        %li{:class=>"angular-ui-tree-node"}

                          %div{"ng-class"=>"pattern3.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                              "ng-click"=>"getMsgs(pattern3.id)"}

                            %div{:class=>"tree-node-content"}

                              %a{:class=>"btn btn-success btn-xs",
                                "ng-if"=>"hasChildren(pattern3.id)",
                                "ng-click"=>"pattern3.packed ? pattern3.packed = false : pattern3.packed = true"}
                                %span{"ng-class"=>"pattern3.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}

                              %a{:class=>"btn btn-default btn-xs",
                                "ng-if"=>"!hasChildren(pattern3.id)"}
                                %span{:class=>"glyphicon glyphicon-chevron-right"}


                              {{ pattern3.body | patternFilter }}

                              %a{:class=>"pull-right btn btn-primary btn-xs"}
                                %span{:class=>"glyphicon glyphicon-plus"}

                              %a{:class=>"pull-right btn btn-primary btn-xs"}
                                %span{:class=>"glyphicon glyphicon-pencil"}

                        %ol{:class=>"angular-ui-tree-nodes",
                            "ng-repeat"=>"scan4 in scans",
                            "ng-if"=>"scan4.parent_id == pattern3.id && !pattern3.packed" }

                          %li{:class=>"angular-ui-tree-node"}


                            %div{:class=>"tree-node angular-ui-tree-handle"}

                              %div{:class=>"tree-node-content-scan"}

                                %a{:class=>"btn btn-success btn-xs",
                                  "ng-click"=>"scan4.packed ? scan4.packed=false : scan4.packed=true; packScan(scan4.id, scan4.packed)"}
                                  %span{"ng-class"=>"scan4.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}


                                scan id: {{ scan4.id }}, sensitivity: {{ scan4.sensitivity }}

                                %span{:class=>"pull-right"}
                                  %a{:class=>"btn btn-success btn-xs"}
                                    %span{:class=>"glyphicon glyphicon glyphicon-save"}
                                  %a{:class=>"btn btn-danger btn-xs"}
                                    %span{:class=>"glyphicon glyphicon glyphicon-remove"}

                          %ol{:class=>"angular-ui-tree-nodes",
                              "ng-if"=>"!scan4.packed",
                              "ng-repeat"=>"pattern4 in scan4.patterns"}
                            %li{:class=>"angular-ui-tree-node"}

                              %div{"ng-class"=>"pattern4.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'",
                                  "ng-click"=>"getMsgs(pattern4.id)"}

                                %div{:class=>"tree-node-content"}

                                  %a{:class=>"btn btn-success btn-xs",
                                    "ng-if"=>"hasChildren(pattern4.id)",
                                    "ng-click"=>"pattern4.packed ? pattern4.packed = false : pattern4.packed = true"}
                                    %span{"ng-class"=>"pattern4.packed ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"}

                                  %a{:class=>"btn btn-default btn-xs",
                                    "ng-if"=>"!hasChildren(pattern4.id)"}
                                    %span{:class=>"glyphicon glyphicon-chevron-right"}


                                  {{ pattern4.body | patternFilter }}

                                  %a{:class=>"pull-right btn btn-primary btn-xs"}
                                    %span{:class=>"glyphicon glyphicon-plus"}

                                  %a{:class=>"pull-right btn btn-primary btn-xs"}
                                    %span{:class=>"glyphicon glyphicon-pencil"}


      %div{:class=>"col-sm-3 right-affix"}

        %div{:class=>"panel panel-primary fill-height-sm", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            New scan

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Sensitivity:
            %input{"ng-model"=>"sensitivity", :type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Split by:
            %input{:type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Filter:
            %input{"ng-model"=>"regExpString", :type=>"text", :class=>"form-control"}
          %div{:class=>"panel-heading"}
            %button{"ng-click"=>"analyze()", :type=>"button", :class=>"btn btn-default btn-xs"}
              Start

        %div{:class=>"panel panel-primary fill-height", :style=>"overflow-y:auto"}
          %div{}
            %ul{:class=>"list-group"}
              %a{"ng-repeat"=>"message in messages | filter:myFilter", :class=>"list-group-item"}
                {{ message.body }}

