

.row
  %div{:class=>"navbar navbar-inverse navbar-fixed-top", :role=>"navigation"}
    %div{:class=>"navbar-header"}


      %a{:class=>"navbar-brand ", :href=>"/"} RMINER

  -#
    %ul{:class=>"nav navbar-nav"}
      %li{:class=>"active"}
        %a{:href=>"", :class=>"list-group-item active"}Scans
      %li
        %a{:href=>"/scans/active", :class=>"list-group-item"}Active scans
      %li
        %a{:href=>"/messages/", :class=>"list-group-item"} New messages
      %li
        %a{:href=>"/settings/", :class=>"list-group-item"}Settings


.content
  .row
    %div{"ng-controller"=>"ScansCtrl"}
      %div{:class=>"col-sm-9 fix-width"}

        %div{"ng-repeat"=>"scan in scans", "ng-if"=>"scan.parent_id == null"}
          .row
            %div{"ng-class"=>"activeScan == scan.id ? 'panel panel-primary' : 'panel panel-primary inactive'",
                 "ng-click"=>"changeActive(scan.id)" }
              %div{"ng-click"=>"getScanMsgs(scan.id)", :class=>"panel-heading pointer"}
                {{ scan.tag || "scan: ".concat(scan.id) }}
                %a{"ng-click"=>"", :href=>"", :class=>"pull-right"}
                  %span{"ng-click"=>"hideScan(scan.id); scan.hidden?scan.hidden=false:scan.hidden=true",
                        "ng-class"=>"scan.hidden? 'glyphicon glyphicon-chevron-down white' : 'glyphicon glyphicon-chevron-up white'"}

              %ul{"ng-show"=>"!scan.hidden", :class=>"list-group"}
                %a{"ng-click"=>"getMsgs(pattern.id)", :href=>"", "ng-repeat"=>"pattern in scan.patterns",
                   "ng-class"=>"pattern.id == activePattern ? 'list-group-item clearfix active' : 'list-group-item clearfix'"}
                  {{ pattern.body }}
                  %button{"ng-click"=>"", :type=>"button", :class=>"btn btn-success btn-small pull-right"} Finalize

            %div{"ng-repeat"=>"child1 in scans", "ng-if"=>"(scan.hidden==false) && child1.parent_id == scan.id"}
              %div{:class=>"child pull-right"}
                %div{"ng-class"=>"activeScan == child1.id ? 'panel panel-primary' : 'panel panel-primary inactive'",
                "ng-click"=>"changeActive(child1.id)" }

                  %div{"ng-click"=>"getScanMsgs(child1.id)", :class=>"panel-heading pointer"}
                    {{ child1.tag || "scan: ".concat(child1.id) }}

                    %a{"ng-click"=>"", :href=>"", :class=>"pull-right"}
                      %span{"ng-click"=>"hideScan(child1.id); child1.hidden?child1.hidden=false:child1.hidden=true",
                            "ng-class"=>"child1.hidden? 'glyphicon glyphicon-chevron-down white' : 'glyphicon glyphicon-chevron-up white'"}

                  %ul{"ng-show"=>"!child1.hidden", :class=>"list-group"}
                    %a{"ng-click"=>"getMsgs(pattern1.id)", :href=>"", "ng-repeat"=>"pattern1 in child1.patterns",
                       "ng-class"=>"pattern1.id == activePattern ? 'list-group-item clearfix active' : 'list-group-item clearfix'"}
                      {{ pattern1.body }}
                      %button{"ng-click"=>"", :type=>"button", :class=>"btn btn-success btn-small pull-right"} Finalize

              %div{"ng-repeat"=>"child2 in scans", "ng-if"=>"(child1.hidden==false) && child2.parent_id == child1.id"}
                %div{:class=>"child2 pull-right"}
                  %div{"ng-class"=>"activeScan == child2.id ? 'panel panel-primary' : 'panel panel-primary inactive'",
                  "ng-click"=>"changeActive(child2.id)" }

                    %div{"ng-click"=>"getScanMsgs(scan.id)", :class=>"panel-heading pointer"}
                      {{ child2.tag || "scan: ".concat(child2.id) }}

                      %a{"ng-click"=>"", :href=>"", :class=>"pull-right"}
                        %span{"ng-click"=>"hideScan(child2.id); child2.hidden?child2.hidden=false:child2.hidden=true",
                              "ng-class"=>"child2.hidden? 'glyphicon glyphicon-chevron-down white' : 'glyphicon glyphicon-chevron-up white'"}

                    %ul{"ng-show"=>"!child2.hidden", :class=>"list-group"}
                      %a{"ng-click"=>"getMsgs(pattern2.id)", :href=>"", "ng-repeat"=>"pattern2 in child2.patterns",
                        "ng-class"=>"pattern2.id == activePattern ? 'list-group-item clearfix active' : 'list-group-item clearfix'"}
                        {{ pattern2.body }}
                        %button{"ng-click"=>"", :type=>"button", :class=>"btn btn-success btn-small pull-right"} Finalize

      %div{:class=>"col-sm-3 right-affix"}


        %div{:class=>"panel panel-primary fill-height", :style=>"overflow-y:auto"}
          %div{:class=>"panel-heading"}
            Messages
          %div{}
            %ul{:class=>"list-group"}
              %a{"ng-repeat"=>"message in messages | filter:myFilter", :class=>"list-group-item"}
                {{ message.body }}



        .row
        %div{:class=>"panel panel-primary fill-height-sm", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            New scan

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Tag:
            %input{"ng-model"=>"scanTag", :type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Sensitivity:
            %input{"ng-model"=>"sensitivity", :type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Split by:
            %input{:type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Filter:
            %input{"ng-model"=>"regExpString", :type=>"text", :class=>"form-control"}
          %div{:class=>"panel-heading"}
            %button{"ng-click"=>"analyze()", :type=>"button", :class=>"btn btn-default btn-small no-margin"}
              Start

