
.row
  %div{:class=>"navbar navbar-inverse", :role=>"navigation"}
    %a{:class=>"navbar-brand", :href=>"/"} RMINER

.row
  %div{:class=>"col-sm-2"}
    %ul{:class=>"nav nav-pills nav-stacked"}
      %li
        %a{:href=>"", :class=>"list-group-item active"}Scans
      %li
        %a{:href=>"/scans/active", :class=>"list-group-item"}Active scans
      %li
        %a{:href=>"/messages/", :class=>"list-group-item"} New messages
      %li  
        %a{:href=>"/settings/", :class=>"list-group-item"}Settings
          

  %div{"ng-controller"=>"ScansCtrl"}
    %div{:class=>"col-sm-5"}
      
      %div{"ng-repeat"=>"scan in scans", :class=>"panel panel-primary"}
        
        %div{:class=>"panel-heading"}
          {{ scan.created_at }}
          %a{:href=>"", :class=>"pull-right"}
            %span{"ng-click"=>"hideScan(scan.id); scan.hidden?scan.hidden=false:scan.hidden=true",
                  "ng-class"=>"scan.hidden? 'glyphicon glyphicon-chevron-down white' : 'glyphicon glyphicon-chevron-up white'"}
        
        %ul{"ng-show"=>"!scan.hidden", :class=>"list-group"}
          %a{"ng-click"=>"getMsgs(pattern.id)", :href=>"", "ng-repeat"=>"pattern in scan.patterns", :class=>"list-group-item"}
            {{ pattern.body }}
    
  
    %div{:class=>"col-sm-4"}
      %div{:class=>"panel panel-primary"}
        %div{:class=>"panel-heading"}
          New scan
         
        %div{:class=>"input-group"}
          %span{:class=>"input-group-addon"}
            Tag:
          %input{"ng-model"=>"scanTag", :type=>"text", :class=>"form-control"}
        %div{:class=>"input-group"}
          %span{:class=>"input-group-addon"}
            Sensitivity:
          %input{"ng-model"=>"sensitivity", :type=>"text", :class=>"form-control"}
        %div{:class=>"input-group"}
          %span{:class=>"input-group-addon"}
            Split by:
          %input{:type=>"text", :class=>"form-control"}
        %div{:class=>"input-group"}
          %span{:class=>"input-group-addon"}
            Filter:
          %input{"ng-model"=>"regExpString", :type=>"text", :class=>"form-control"}     
        %div{:class=>"panel-heading"}
          %button{"ng-click"=>"analyze()", :type=>"button", :class=>"btn btn-default btn-small"}
            Start

      %div{:class=>"panel panel-primary"}
        %div{:class=>"panel-heading"}          
          Messages
        %ul{:class=>"list-group"}
          %a{"ng-repeat"=>"message in messages | filter:myFilter", :href=>"", :class=>"list-group-item"}
            {{ message.body }} 
    
    