

.row
  %div{:class=>"navbar navbar-inverse navbar-fixed-top", :role=>"navigation"}
    %div{:class=>"navbar-header"}


      %a{:class=>"navbar-brand ", :href=>"/"} RMINER

  -#
    %ul{:class=>"nav navbar-nav"}
      %li{:class=>"active"}
        %a{:href=>"", :class=>"list-group-item active"}Scans
      %li
        %a{:href=>"/scans/active", :class=>"list-group-item"}Active scans
      %li
        %a{:href=>"/messages/", :class=>"list-group-item"} New messages
      %li
        %a{:href=>"/settings/", :class=>"list-group-item"}Settings


.content
  %div{:class=>"col-sm-3 col-md-offset-4"}
    %div{:class=>"panel panel-primary fill-height-sm", :style=>"overflow-y:auto" }
      %div{:class=>"panel-heading"}
        Login

    %form{:action=>"/auth/login", :method=>"post"}
      %div{:class=>"input-group"}
        %span{:class=>"input-group-addon"}
          Username:
        %input{:type=>"text", :name=>"username", :class=>"form-control"}
      %div{:class=>"input-group"}
        %span{:class=>"input-group-addon"}
          Password:
        %input{:name=>"password", :type=>"text", :class=>"form-control"}
      %div{:class=>"panel-heading"}
        %input{:type=>"submit", :value=>"Sign in", :class=>"btn btn-default btn-xs"}


    - if flash[:error]
      %div{:class=>"alert alert-danger", :role=>"alert"}
        %span{:class=>"glyphicon glyphicon-exclamation-sign", "aria-hidden"=>"true"}
        %span{:class=>"sr-only"}
        Error: #{flash[:error]}
    - elsif flash[:success]
      %div{:class=>"alert alert-success", :role=>"alert"}
        %span
        Success: #{flash[:success]}
    - else