 
%div{ 'ng-controller'=>'MessagesCtrl'} 



  %form{:name => "New scan", :action => "/scan/new", :method => "post"}
  %label Sensitivity
  %input{"ng-model"=>"sensitivity"}
  %input{:type => "hidden", :name => "msgs", :value => messages.map{|msg| msg.id}}
  %input{:type => "submit", :value => "Analyze", :class => "button"}

  
  %form
  %label Regexp filter:
  %input{"ng-model"=>"regExpString"}
 
  %div
    %ul
      %li{ 'ng-repeat'=>"msg in messages | filter:myFilter "}
        {{msg.body}}
