 




%form{:name => "New scan", :action => "/scan/new", :method => "post"}
  %label Sensitivity
  %input{:name => "sensitivity"}
  %input{:type => "hidden", :name => "msgs", :value => messages.map{|msg| msg.id}}
  %input{:type => "submit", :value => "Send", :class => "button"}

  
%div{ 'ng-controller'=>'MessagesCtrl'} 
  %ul
    %li{ 'ng-repeat'=>"msg in messages"}
      {{msg.body}}
