
.content
  .row
    %div{"ng-controller"=>"MessagesCtrl"}
      %div{:class=>"col-sm-9 fix-width"}

        %pagination{:class=>"pagination", "ng-model"=>"currentPage", "total-items"=>"pages",
                    "boundary-links"=>"true", "max-size"=>"20"}

        %div{:class=>"panel panel-primary", :style=>"overflow-y:auto"}
          %div{}
            %ul{:class=>"list-group"}
              %a{"ng-repeat"=>"message in msgsPage", :class=>"list-group-item"}
                {{ message.body }}

        %pagination{:class=>"pagination", "ng-model"=>"currentPage", "total-items"=>"pages",
                    "boundary-links"=>"true", "max-size"=>"20"}


      %div{:class=>"col-sm-3 right-affix"}

        %div{:class=>"panel panel-primary fill-height-sm", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            New scan

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Sensitivity:
            %input{"ng-model"=>"sensitivity", :type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Split by:
            %input{:type=>"text", :class=>"form-control"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Filter:
            %input{"ng-model"=>"regExpString", :type=>"text", :class=>"form-control"}
          %div{:class=>"panel-heading"}
            %button{"ng-click"=>"analyze()", :type=>"button", :class=>"btn btn-default btn-xs"}
              Start
        .row

        %div{:class=>"panel panel-primary", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            System info

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Messages:
            %input{"ng-model"=>"info.messages", :type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Scans saved:
            %input{"ng-model"=>"info.scans_done",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Scans in proggress:
            %input{"ng-model"=>"info.scans_prog",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Active patterns:
            %input{"ng-model"=>"info.patterns",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}

