
.content
  .row
    %div{ 'ng-controller'=>'PatternsCtrl'}
      %div{:class=>"col-sm-9 fix-width"}

        .row

          %ol{:class=>"angular-ui-tree-nodes", "ng-repeat"=>"pattern in patterns"}
            %li{:class=>"angular-ui-tree-node", "ng-if"=>"pattern.finalized"}

              %div{"ng-class"=>"pattern1.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'"}

                %div{:class=>"tree-node-content", "ng-if"=>"pattern.edit == false"}

                  %a{"ng-if"=>"pattern.active_filter", :class=>"btn btn-success btn-xs",
                     "ng-click"=>"pattern.active_filter=false; savePattern(pattern)"}
                    %span{:class=>"glyphicon glyphicon-plus"}
                  %a{"ng-if"=>"!pattern.active_filter", :class=>"btn btn-primary btn-xs",
                     "ng-click"=>"pattern.active_filter=true; savePattern(pattern)"}
                    %span{:class=>"glyphicon glyphicon-plus"}

                  %span{:class=>"green"} Name:
                  {{ pattern.name }}

                  %span{:class=>"green"} Pattern:
                  %span{"ng-bind-html"=>"pattern.body | patternFilter"}

                  %a{:class=>"pull-right btn btn-danger btn-xs",
                    "ng-click"=>"removePattern(pattern)"}
                    %span{:class=>"glyphicon glyphicon-minus"}

                  %a{:class=>"pull-right btn btn-primary btn-xs",
                    "ng-click"=>"pattern.edit = true"}
                    %span{:class=>"glyphicon glyphicon-pencil"}

                %div{:class=>"tree-node-content", "ng-if"=>"pattern.body_split=fixJson(pattern.body_split); pattern.edit == true"}

                  %a{"ng-if"=>"pattern.active_filter", :class=>"btn btn-success btn-xs",
                     "ng-click"=>"pattern.active_filter=false; savePattern(pattern)"}
                    %span{:class=>"glyphicon glyphicon-plus"}
                  %a{"ng-if"=>"!pattern.active_filter", :class=>"btn btn-primary btn-xs",
                     "ng-click"=>"pattern.active_filter=true; savePattern(pattern)"}
                    %span{:class=>"glyphicon glyphicon-plus"}

                  %span{:class=>"green"} Name:
                  %input{"ng-model"=>"pattern.name"}

                  %span{:class=>"green"} Pattern:
                  %span{"ng-repeat"=>"word in pattern.body_split track by $index"}
                    %span{"ng-if"=>"!word.variable", "ng-bind"=>"word.word"}
                    %input{"ng-if"=>"word.variable", "ng-model"=>"word.name"}


                  %a{:class=>"pull-right btn btn-success btn-xs",
                    "ng-click"=>"pattern.edit = false; savePattern(pattern)"}
                    %span{:class=>"glyphicon glyphicon-ok"}

                  %a{:class=>"pull-right btn btn-danger btn-xs",
                    "ng-click"=>"pattern.edit = false"}
                    %span{:class=>"glyphicon glyphicon-remove"}

      %div{:class=>"col-sm-3 right-affix"}

        %div{:class=>"panel panel-primary", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            System info

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Messages:
            %input{"ng-model"=>"info.messages", :type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Scans saved:
            %input{"ng-model"=>"info.scans_done",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Scans in proggress:
            %input{"ng-model"=>"info.scans_prog",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Finalized patterns:
            %input{"ng-model"=>"info.patterns_finalized",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Active patterns:
            %input{"ng-model"=>"info.patterns_active",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}