%div{ 'ng-controller'=>'PatternsCtrl'} 


  %h1= pattern.body


  %form
    %label Tag
    %input{"ng-model"=>"scanTag"}
    %label Sensitivity
    %input{"ng-model"=>"sensitivity"}
    %input{:type => "submit", :value => "Analyze", "ng-click"=>"analyze()"}
    %input{:type => "submit", :value => "Mark as final", "ng-click"=>"final()"}

  
  %form
    %label Regexp filter:
    %input{"ng-model"=>"regExpString"}
     
  %div
    %ul
      %li{ 'ng-repeat'=>"msg in messages | filter:myFilter "}
        {{msg.body}}
