
.content
  .row
    %div{ 'ng-controller'=>'PatternsCtrl'}
      %div{:class=>"col-sm-9 fix-width"}

        .row

          %ol{:class=>"angular-ui-tree-nodes", "ng-repeat"=>"pattern in patterns"}
            %li{:class=>"angular-ui-tree-node"}

              %div{"ng-class"=>"pattern1.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'"}

                %div{:class=>"tree-node-content"}

                  %a{"ng-if"=>"pattern.finalized", :class=>" btn btn-success btn-xs",
                      "ng-click"=>"finalizePattern(pattern, false)"}
                    %span{:class=>"glyphicon glyphicon-plus"}

                  %span{"ng-bind-html"=>"pattern.body | patternFilter"}

