
.content
  .row
    %div{ 'ng-controller'=>'PatternsCtrl'}
      %div{:class=>"col-sm-9 fix-width"}

        .row

          %ol{:class=>"angular-ui-tree-nodes", "ng-repeat"=>"pattern in patterns"}
            %li{:class=>"angular-ui-tree-node"}

              %div{"ng-class"=>"pattern1.id == activePattern ? 'tree-node-active angular-ui-tree-handle':'tree-node angular-ui-tree-handle'"}

                %div{:class=>"tree-node-content"}

                  %a{"ng-if"=>"pattern.finalized", :class=>" btn btn-success btn-xs",
                      "ng-click"=>"finalizePattern(pattern, false)"}
                    %span{:class=>"glyphicon glyphicon-plus"}

                  %span{"ng-bind-html"=>"pattern.body | patternFilter"}

      %div{:class=>"col-sm-3 right-affix"}

        %div{:class=>"panel panel-primary", :style=>"overflow-y:auto" }
          %div{:class=>"panel-heading"}
            System info

          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Messages:
            %input{"ng-model"=>"info.messages", :type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Scans saved:
            %input{"ng-model"=>"info.scans_done",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Scans in proggress:
            %input{"ng-model"=>"info.scans_prog",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}
          %div{:class=>"input-group"}
            %span{:class=>"input-group-addon"}
              Active patterns:
            %input{"ng-model"=>"info.patterns",:type=>"text",
                   :class=>"form-control", :readonly=>"true"}