
.white, .white a {
  color: #fff;
}

.content {
  margin-top: 70px;
}

.body {
  overflow-x: hidden;
  padding-left: 15px;
  margin-bottom: 70px;
}

.row {
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  width: 100%;
}

.right-affix {
  overflow-x: hidden;
  right: 0px;
  padding-bottom: 10px;
  position: fixed;

}

.no-margin {
  margin: 0px;
  padding: 0px;
}

.fill-height-sm {
  max-height: 32vh;
  padding-botton: 10px;
}

.fill-height {
  height: 100%;
  min-height: 67vh;
  max-height: 67vh;
}

.child {
  width: 95%;
}

.child2 {
  width: 901%;
}

.child2 {
  width: 85%;
}

.inactive {
  opacity: 0.7;
  cursor: default;
}

.active {
  color: #428bca;
  background-color: #fff;
}

.active:hover {
  color: #428bca;
  background-color: #fff;
}

.pointer {
  cursor: pointer;
}

.blue {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #428bca;
  padding: 1px;
  margin: 1px;
}

.btn {
  padding: 5px, 5px;
}

