.white, .white a {
  color: #fff;
}

body {
  overflow-x: hidden;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 70px}
}

.right-affix {
  right: 0px;
  padding-bottom: 10px;
  position: fixed;

}

.no-margin {
  margin: 0px;
  padding: 0px;
}

.fill-height-sm {
  max-height: 30vh;
}

.fill-height {
  height: 100%;
  min-height: 55vh;
  max-height: 55vh;
}